@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headline), serif;
}

@layer base {
  :root {
    --background: 47 33% 96%;
    --foreground: 218 50% 10%; /* Rich Black */
    --card: 47 33% 96%;
    --card-foreground: 218 50% 10%;
    --popover: 47 33% 96%;
    --popover-foreground: 218 50% 10%;
    --primary: 218 44% 19%; /* Prussian Blue */
    --primary-foreground: 47 33% 96%;
    --secondary: 212 33% 35%; /* Payne's Gray */
    --secondary-foreground: 47 33% 96%;
    --muted: 211 25% 75%;
    --muted-foreground: 212 33% 45%;
    --accent: 211 25% 57%; /* Silver Lake Blue */
    --accent-foreground: 218 50% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 212 33% 45%;
    --input: 212 33% 45%;
    --ring: 218 44% 19%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 218 50% 10%; /* Rich Black */
    --foreground: 47 33% 96%; /* Eggshell */
    --card: 218 50% 10%;
    --card-foreground: 47 33% 96%;
    --popover: 218 50% 10%;
    --popover-foreground: 47 33% 96%;
    --primary: 47 33% 96%; /* Eggshell */
    --primary-foreground: 218 50% 10%;
    --secondary: 212 33% 35%; /* Payne's Gray */
    --secondary-foreground: 47 33% 96%;
    --muted: 218 44% 19%; /* Prussian Blue */
    --muted-foreground: 211 25% 75%;
    --accent: 211 25% 57%; /* Silver Lake Blue */
    --accent-foreground: 218 50% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 218 44% 19%;
    --input: 218 44% 19%;
    --ring: 47 33% 96%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .dotted-background {
    background-color: hsl(var(--background));
    background-image: radial-gradient(hsl(var(--muted)) 1px, transparent 1px);
    background-size: 16px 16px;
  }
}
